<configuration>
	<appSettings>
		<!-- logfile causes log information to be written to diagnostic_log.txt in the application directory-->
		<add key="CXPWebViewer.logfile" value="false"/>
		<!-- logdisplay causes log information to appear in a scrolling text box on the main form-->
		<add key="CXPWebViewer.logdisplay" value="false"/>
		<!-- verboselogging causes more detailed information to be logged, especially during XML presentation data loading.
		This may be used with logfile to help in debugging a XML input, but should not otherwise be enabled. -->
		<add key="CXPWebViewer.verboselogging" value="false"/>
		<!-- navbuttonsenabled enables supplimentary navigation buttons -->
		<add key="CXPWebViewer.navbuttonsenabled" value="false"/>
		<!-- If the supplimentary navigation buttons are enabled, jumpincrement tells WebViewer how many seconds they should jump -->
		<add key="CXPWebViewer.jumpincrement" value="10.0"/>			
		<!-- <add key="CXPWebViewer.BackgroundColor" value="Wheat" />	-->
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
